@media screen and (max-width: 1000px) {
  header.logo {
    background-size: cover;
  }
}
@media screen and (max-width: 700px) {
  header.logo {
    background-size: cover;
  }
  header.container {
    display: flex;
    flex-direction: column;
  }

  .botao {
    margin-top: 5px;
    width: 300px;
    height: 50px;
  }
}

@media screen and (min-widt: 1000px) {
  .descricao {
    width: 50%;
  }
}
